form {
  /* display: flex;
  flex-direction: column; */
  /* width: 100%; */
  /* margin-top: 1rem; */
}
.label {
  color: #010101;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  line-height: 1.375rem;
}
input {
  background-color: black;
  opacity: 0.5;
  padding: 8px 12px;
  border-radius: 5px;
}
button {
  background-color: #ffd60a;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 1.5rem;
  font-weight: bold;
}
